body {
    overflow-x: hidden;


}

h1 {
    color: green;
    font-size: 120px;
    font-size: calc(40px + (90 - 40) * ((100vw - 360px)) / (1920 - 360));
}

p {
    /* margin-bottom: calc(10px + 3.5vh); */
    margin-bottom: calc(10px + (60 - 10) * ((100vw - 360px) / (1920 - 360)));
}

/* Обчислення ширини зображення*/
 img {
    max-width: 100vw;
    margin-left: calc(-50vw + 50%);
 }


/* img {
    max-width: 500px;
    width: 100%;
} */

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    margin: 0 auto;
    outline: 2px solid red;
}

main {
    flex: 1 1 auto;
}

.banner {
    width: 100vw;
    background-color: blue;
    color: white;
    margin-left: calc(-50vw + 50%) ;
    padding: 30px calc((100vw - 100%) / 2);
}